$taobao-color: #ff5000;

.App {
  text-align: center;
  background-color: #f0ecec;
}

.header-text {
  color: $taobao-color;
  font-size:calc(20px + 1vmin);
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}