$taobao-color: #ff5000;

.card {
  display: flex;
  align-items: flex-start;
  justify-self: flex-start;
  
}

.ant-card-hoverable:hover{
  box-shadow: none;
  border: 1px solid $taobao-color;
  border-radius: 10px;
}

.ant-card-meta-detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  .ant-card-meta-description {
    color: $taobao-color;
  }
}

.price {
  color: $taobao-color;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  float: left;
}