.sector {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin-top: 6px;
  margin-bottom: 12px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}

.sector-title {
  width: 100%;
  padding: 24px 0 24px 16px;
  background: #fff;
  background-color: cover;
  background-position: 100%;
  background-reapeat: no-repeat;
  padding-bottom: 8px;
}